.venv
__pycache__
*.pyc
.git
.github
node_modules
edupulse/data/raw/
*.egg-info
.pytest_cache
.omc/
docs/
notebooks/
.env
.env.*
edupulse/data/processed/
edupulse/data/warehouse/
frontend/node_modules/
tests/
.claude/
